* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body div {
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    color: #6f7066;
    font-size: 26px;
    text-align: center;
    width: 100%;
  }

.pokemon-container {   
    background: typeColor;
    border: 1px solid #9c9a9a;
    border-radius: 5px;
    height: 250px;
    width: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;  
}

.pokemon-container h2 {
    font-size: 20px;
}
  
.pokemon-image {
    border: 1px solid #9c9a9a;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

  